[Unit]
Description=Bar Util Daemon

[Service]
Type=simple
ExitType=main
ExecStart=%h/.local/bin/bar_daemon2 --network enp6s0 --gpu card0 -l debug
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/bin:/home/me/.local/bin:/opt/rocm/bin

[Install]
WantedBy=default.target
