[Unit]
Description=Bar Util Daemon

[Service]
Type=simple
ExitType=main
ExecStart=%h/.local/bin/network_watch daemon
StandardOutput=null
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/bin:/home/me/.local/bin:/opt/rocm/bin

[Install]
WantedBy=default.target
